* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  background-color: black;
  min-height: 100vh;
}
.blob {
  position: absolute;
  width: 500px;
  height: 500px;
}
.blob:nth-child(2) {
  filter: blur(50px);
  -webkit-filter: blur(50px);
}
